torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
loguru==0.7.3
warprnnt-numba==0.4.1
jiwer==3.1.0
audiomentations==0.40.0
sentencepiece==0.2.0
pytorch_lightning==2.5.1
tensorboard==2.19.0